<div class="be-container-home be-container-home-first">
    <div class="m-auto">
        <h2 class="be-h2"><span>Les entreprises </span>qui recrutent</h2>

        <div class="be-container-card m-auto d-flex  row">

            {% for company in companies %}

                <div class="be-card-main col-auto col-4 mb-4 p-0 position-relative ">
                    <div class="be-card-img img-fluid position-relative">
                        <img src="{{ company.logo }}" style="height:110px; width:350px;" alt="">
                        <div class="be-card-containt">
                            <img src="https://placehold.co/120x60" alt="">
                        </div>
                    </div>

                    <div class="be-card-footer d-flex justify-content-between w-100  align-items-lg-end">
                        <div>
                            <h3 class="m-0">{{ company.name }}</h3>
                            {{ company.total }} postes à pouvoir
                        </div>
                        <div class="d-flex align-items-center">
                            <a class="be-secondary-button" href="{{ path('app_joboffer_company_filter', {'id': company.id}) }}">
                                Voir les offres
                            </a>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
</div>
