{% if is_granted('ROLE_USER') %}
    <div class="card be-card-alerte" style="width: 100%; min-height: 13.75rem;" >
        <div class="card-header be-alert">
            Mes Alertes
        </div>
        <div class="card-body">
            <h5 class="card-title">Pour ne rien rater</h5>
            <p class="card-text"></p>
            <button type="button" class="be-secondary-button m-auto " data-toggle="modal" data-target="#exampleModal">
                Créer une alerte
            </button>
        </div>
    </div>

    <div class="card be-card-candidatures" style="width: 100%; min-height: 13.75rem;">
        <div class="card-header be-candidature">
            Mes candidatures
        </div>
        <div class="card-body">

            {% for candidature in app.user.joboffers | slice (0,5)%}
                <h5 class="card-title text-center">
                    <a href="{{ path('app_joboffer_show', {id: candidature.id}) }}" class="text-dark">
                        {{ candidature.title }} sur {{ candidature.city }}
                    </a>
                </h5>

            {% endfor %}
            <p class="card-text"></p>
            <button type="button" class="be-secondary-button m-auto " data-toggle="modal" data-target="#exampleModal">
                <a href="{{ path('app_user_candidatures', {id: app.user.id}) }}" class="text-dark">
                    Voir mes candidatures
                </a>
            </button>
        </div>
    </div>

{% endif %}
