<div class="be-home-articles">
    <h2 class="be-h2">Trouver un <span>job</span> ?</h2>
    <div class="be-home-article row be-row">
        <div class="be-home-article-rectangle1 col-md">
            <img class="be-home-article-img" src="{{ asset('build/images/Image_4961.png') }}" alt="Notre proximité">
        </div>
        <div class="be-home-article-text col-md">
            <h3 class="be-h3">Notre <span>proximité</span></h3>
            <p>L’expérience professionnelle est une chose. L’expérience de vie en est une autre. Alors nos consultants
                prennent le temps de faire connaissance avec chaque personne, pour comprendre le contexte, le parcours,
                les envies et les projets.</p>
        </div>
        <div class="be-home-article row be-row">
            <div class="be-home-article-text col-md">
                <h3 class="be-h3">Notre <span>performance</span></h3>
                <p>Notre réseau est une force et nous y travaillons sans relâche. Notre expérience nous permet d’identifier
                    les vrais besoins d’une entreprise et de ceux qui la rejoignent.</p>
            </div>
            <div class="be-home-article-rectangle2 col-md">
                <img class="be-home-article-img" src="{{ asset('build/images/Image_4962.png') }}" alt="Notre performance">
            </div>
        </div>
        <div class="be-home-article row be-row">
            <div class="be-home-article-rectangle3 col-md">
                <img class="be-home-article-img" src="{{ asset('build/images/Image_4963.png') }}" alt="Notre durabilité">
            </div>
            <div class="be-home-article-text col-md">
                <h3 class="be-h3">Notre <span>durabilité</span></h3>
                <p>Notre challenge est de trouver l’équipe qui fonctionnera ensemble de manière professionnelle et
                    personnelle, pour aller jusqu’au bout d’un projet commun. Notre responsabilité vis-à-vis des impacts de
                    nos décisions et nos actions sur le long-terme correspondent également à notre politique RSE.</p>
            </div>
        </div>
    </div>
</div>
