{% extends 'base.html.twig' %}
{% block title %} Politique de cookies {% endblock %}

{% block body %}
    <h2 class="be-h2">Politique de cookies</h2>
    <h3>À propos de cette politique de cookies</h3>
    <p>Cette politique de cookies explique ce que sont les cookies et comment nous les utilisons. Vous devez lire cette politique pour comprendre ce que sont les cookies, comment nous les utilisons, les types de cookies que nous utilisons, c’est-à-dire les informations que nous recueillons à l’aide de cookies et comment ces informations sont utilisées et comment contrôler les préférences des cookies. Pour plus d’informations sur la façon dont nous utilisons, stockons et gardons vos données personnelles en sécurité, consultez notre politique de confidentialité. Vous pouvez à tout moment modifier ou retirer votre consentement à la déclaration relative aux cookies sur notre site Web. Apprenez-en plus sur qui nous sommes, comment vous pouvez nous contacter et comment nous traitons les données personnelles dans notre politique de confidentialité. Votre consentement s’applique aux domaines suivants: www.jobitbetter.fr</p>

    <h3>Que sont les cookies?</h3>
    <p>Les cookies sont de petits fichiers texte utilisés pour stocker de petites informations. Les cookies sont stockés sur votre appareil lorsque le site Web est chargé sur votre navigateur. Ces cookies nous aident à faire fonctionner correctement le site Web, à rendre le site Web plus sécurisé, à offrir une meilleure expérience utilisateur, à comprendre comment le site Web fonctionne et à analyser ce qui fonctionne et où il doit être amélioré.</p>
    <h3>Comment utilisons-nous les cookies?</h3>
    <p>Comme la plupart des services en ligne, notre site Web utilise des cookies, des cookies propriétaires et tiers à diverses fins. Les cookies de première partie sont principalement nécessaires au bon fonctionnement du site Web et ils ne collectent aucune de vos données personnellement identifiables. Les cookies tiers utilisés sur nos sites Web sont principalement utilisés pour comprendre comment le site Web fonctionne, comment vous interagissez avec notre site Web, pour garantir la sécurité de nos services, vous fournir des publicités pertinentes pour vous et, dans l’ensemble, vous fournir un meilleur et amélioré l’expérience utilisateur et vous aider à accélérer vos futures interactions avec notre site Web.</p>
    <h3>Quels types de cookies utilisons-nous?</h3>
    <ul>
        <li>Essentiel: certains cookies sont essentiels pour que vous puissiez profiter de toutes les fonctionnalités de notre site. Ils nous permettent de maintenir les sessions utilisateurs et de prévenir toute menace de sécurité. Ils ne collectent ni ne stockent aucune information personnelle. Par exemple, ces cookies vous permettent de vous connecter à votre compte et d’ajouter des produits à votre panier et de commander en toute sécurité.</li>
        <li>Statistiques: Ces cookies stockent des informations telles que le nombre de visiteurs sur le site Web, le nombre de visiteurs uniques, les pages du site Web qui ont été visitées, la source de la visite, etc. Ces données nous aident à comprendre et à analyser les performances du site Web et là où il doit être amélioré.</li>
        <li>Marketing: Notre site Web affiche des publicités. Ces cookies sont utilisés pour personnaliser les publicités que nous vous montrons afin qu’elles soient significatives pour vous. Ces cookies nous aident également à suivre l’efficacité de ces campagnes publicitaires. Les informations stockées dans ces cookies peuvent également être utilisées par les fournisseurs de publicité tiers pour vous montrer également des publicités sur d’autres sites Web sur le navigateur.</li>
        <li>Fonctionnel: ce sont les cookies qui aident certaines fonctionnalités non essentielles de notre site Web. Ces fonctionnalités incluent l’intégration de contenus tels que des vidéos ou le partage de contenus sur le site Web sur des plateformes de médias sociaux.</li>
        <li>Préférences: ces cookies nous aident à stocker vos paramètres et vos préférences de navigation, comme les préférences linguistiques, afin que vous ayez une expérience meilleure et efficace lors de vos futures visites sur le site.</li>
    </ul>
{% endblock %}
