{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

<div class="container be-error-403">
    <div class="forbidden-sign"></div>
    <h1 class="be-restriction">L'accès à cette page est restreint.</h1>
    <p class="be-text-restriction">Assurez-vous que vous disposez des autorisations suffisantes pour y accéder.</p>
    <div class="d-flex align-items-center be-spaces my-5">
        <a href="/">
            <button type="button" class="be-secondary-button" data-toggle="modal" data-target="#exampleModal">
                Acceuil
            </button>
        </a>
    </div>
</div>

{% endblock %}