{% extends 'base.html.twig' %}
{% block title %}Mentions Légales{% endblock %}

{% block body %}
<h2 class="be-h2">Mentions Légales</h2>
<p>Ce site est la propriété de :</p>
<p>EXTERNATIC 1 Rue Racine 44000 NANTES</p>
<p>SIREN : 800 426 629</p>
<p> Responsable de la rédaction : Externatic</p>
<p>Conception et réalisation du site : Wild Code School</p>
{% endblock %}
