{% extends 'base.html.twig' %}
{% block title %} Politique de confidentialité des données {% endblock %}

{% block body %}
<h2 class="be-h2">Politique de confidentialité des données</h2>

<p>L’utilisateur du site www.jobitbetter.fr (ci-après « le site ») s’engage à prendre connaissance et à respecter les présentes conditions générales tout au long de sa navigation sur le site. Ces conditions générales d’utilisation peuvent être modifiées à tout moment. Elles s’imposent à l’utilisateur dès la date de leur mise en ligne sur le site Job IT Better by Externatic. La date de mise à jour est mentionnée à chaque modification. L’utilisateur est donc invité à consulter régulièrement la mise à jour la plus récente des présentes conditions.</p>

<h3 class="be-h3">Mentions légales</h3>

<p>Job IT Better by Externatic s’adresse à toutes les entreprises du secteur privé et public, à tous les candidats en activité ou en recherche d’emploi.</p>

<p>Job IT Better by Externatic est une marque déposée et utilisée par les entreprises suivantes :</p>

<p>SAS EXTERNATIC, et SAS Keep and Attract People dont le siège social est basé au 1 Rue Racine – 44000 NANTES – FRANCE</p>

<p>Directeur de la Publication : Externatic</p>

<h3 class="be-h3">Politique de protection des données</h3>

<p>La présente Politique de protection des données à caractère personnel a pour objectif de définir les principes et lignes directrices mis en œuvre par Job IT Better by Externatic en matière de traitement des données à caractère personnel des utilisateurs des sites internet et des utilisateurs de ses services.</p>

<p>La notion de « donnée à caractère personnel » ou « données personnelles » correspond à la définition donnée par l’article 4 du Règlement Général de l’Union Européenne sur la protection des Données (RGPD 2016/679) c’est-à-dire à toute information susceptible de permettre l’identification d’une personne physique de manière directe ou indirecte : nom, prénom, adresse IP, adresse email, etc.</p>

<p>Job IT Better by Externatic affirme son attachement au respect des lois et règlements applicables en matière de protection des données, et s’engage à préserver leur sécurité, leur confidentialité et leur intégrité.</p>

<h4>1. Champ d’application et exclusion</h4>

<p>La présente Politique s’applique à l’ensemble des traitements de données à caractère personnel effectués par Job IT Better by Externatic à partir :</p>

<ul>
    <li>de son site internet jobitbetter.fr ou de sa version mobile,</li>
    <li>de sites dédiés créés par Job IT Better by Externatic pour des opérations particulières (landing page, …),</li>
    <li>du site Job IT Better by Externatic dédié à ses annonces d’emploi et dépôt de candidatures</li>
    <li>des abonnements à des newsletters ou autres communications sur les offres et services Job IT Better by Externatic,</li>
    <li>lors d’événements organisés par Job IT Better by Externatic,</li>
    <li>lors de salons ou tout autre événement physique ou virtuel donnant lieu à une collecte de données personnelles.</li>
</ul>

<p>La présente Politique ne s’applique pas aux traitements réalisés sur des sites internet ou applications de tiers pour lesquels Job IT Better by Externatic n’est pas responsable du traitement, et ceci même si lesdits sites sont mentionnés sur le site Job IT Better by Externatic.

<h4>2. Données collectées</h4>

<h5>Les données collectées directement depuis le site jobitbetter.fr</h5>

<p>Il s’agit des données fournies directement par le biais de formulaires ou de contenus (CV, lettres de motivation,…) mis en ligne sur le sitejobitbetter.fr.</p>

<ul>
    <li>Civilité,</li>
    <li>Prénom et nom de famille,</li>
    <li>Adresse postale,</li>
    <li>Age et date de naissance,</li>
    <li>Adresse de courrier électronique,</li>
    <li>Numéro de téléphone,</li>
    <li>Informations relatives à la vie professionnelle (CV et lettres de motivation)</li>
    <li>Photographies</li>
</ul>

<p>À tout moment, vous disposez de la faculté de modifier ou supprimer ces informations via la procédure définie à l’article 8 de la présente Politique.</p>

<h5>Les données collectées directement lors d’entretiens avec Job IT Better by Externatic</h5>

<p>Il s’agit des données personnelles que vous nous fournissez directement au cours des entretiens avec les intervenants Job IT Better by Externatic.</p>

<ul>
    <li>Informations relatives à la vie professionnelle (CV et lettres de motivation),</li>
    <li>Formations,</li>
</ul>

<p>À tout moment, vous disposez de la faculté de modifier ou supprimer ces informations via la procédure définie à l’article 8 de la présente Politique.</p>

<h5>Les données collectées via des sites tiers ou réseaux sociaux (Linkedin, Viadeo, Twitter, …)</h5>

<p>Il s’agit des données personnelles que vous avez fournies à des tiers par votre consentement via leurs conditions générales et de confidentialité, et exposées/transmises publiquement.</p>

<p>On peut citer notamment et de façon non exhaustive : Linkedin, Viadeo, Twitter, Facebook, Instagram, Indeed, Pinterest, Pole-emplo, Doyoubuzz, Apec…</p>

<p>Job IT Better by Externatic ne pourra vérifier votre complet accord sur l’exposition publique des données personnelles ou la transmission de celles-ci à Job IT Better by Externatic par ces sites tiers ou réseaux sociaux. Job IT Better by Externatic se désengage donc totalement à cet égard, cette responsabilité restant attachée aux dits sites tiers et réseaux sociaux et à leurs conditions générales et de confidentialité.</p>

<p>A noter cependant que pour les réseaux sociaux, Job IT Better by Externatic ne collectera vos données personnelles que si vous avez communiqué une demande ou un accord de mise en relation ou porté un intérêt aux services Job IT Better by Externatic.</p>

<h5>Les données de connexion collectées indirectement</h5>

<p>Il s’agit des données que Job IT Better by Externatic collecte à partir de votre navigation sur le site jobitbetter.fr telles que :</p>
<ul>
    <li>la date, l’heure de la connexion et/ou navigation,</li>
    <li>le type de navigateur,</li>
    <li>la langue du navigateur,</li>
    <li>URL consultée,</li>
    <li>l’adresse de protocole Internet et l’adresse IP.</li>
</ul>

<p>Le traitement de ces données de connexion se fait dans le respect de la réglementation applicable en matière de protection des données à caractère personnel. L’analyse de ces données a pour but :</p>

<ul>
    <li>de produire des indicateurs non nominatifs et de vous proposer un service plus personnalisé sur les sites internet Job IT Better by Externatic ;</li>
    <li>de s’assurer que l’utilisation du site est conforme aux Conditions Générales d’Utilisation. Un audit des logs de connexion pourra être effectué en cas de non-respect présumé des CGU.</li>
</ul>

<h5>Cookies et mesure d’audience</h5>

<p>Les cookies sont des fichiers stockés sur votre ordinateur par les sites web que vous visitez et contiennent des informations telles que vos préférences de navigation ou votre statut de connexion.</p>

<p>Lors de l’éventuelle collecte par Job IT Better by Externatic ou son fournisseur des informations générées par ces cookies, l’adresse IP est rendue anonyme. Job IT Better by Externatic utilise les cookies suivants :</p>

<ul>
    <li>1 – techniques (pour faciliter et améliorer vos connexions)</li>
    <li>2 – de mesure d’audience (pour nous permettre de connaître l’audience des différentes rubriques et pages du site)</li>
</ul>

<h4>3. Utilisation des données collectées</h4>

<p>Job IT Better by Externatic traite les données à caractère personnel que vous lui avez confiées pour bénéficier de services et conseils qu’elle déploie en matière d’emploi et d’évolution professionnelle au travers de placement auprès d’entreprises.</p>

<p>Job IT Better by Externatic mène également des activités commerciales par la vente de services de recrutement externalisés auprès d’entreprises.</p>

<p>Job IT Better by Externatic est responsable des traitements de données à caractère personnel pour les finalités suivantes :</p>

<ul>
    <li>La fourniture de services ou de conseils en matière d’emploi à toutes les entreprises du secteur privé et public mais également à tous les candidats en activité ou en recherche d’emploi.</li>
    <li>La promotion de l’offre de conseil et services Job IT Better by Externatic</li>
    <li>L’organisation et la promotion d’événements (Salons, soirées, meetup, concours, …)</li>
    <li>La mise en relation des candidatures avec des offres d’emploi (transmission au recruteur de CV et lettres de motivation, …)</li>
    <li>La réalisation d’études, sondage et enquêtes par Job IT Better by Externatic pour des sujets en lien avec l’emploi (référentiels de rémunérations, etc), </li>
    <li>Le suivi et analyse de la qualité des services ou conseils rendus ou tout autre sujet en lien avec l’objet et l’activité de Job IT Better by Externatic.</li>
</ul>
<p>Une candidature pour un poste donné de façon directe sur le site Job IT Better by Externatic, par mail ou par un site tiers ouvrira le droit à utilisation de vos données personnelles dans le cadre de cette offre mais pourra également faire l’objet de correspondances potentielles avec Job IT Better by Externatic pour de futures offres d’emploi.</p>

<h4>4. Destinataires des données à caractère personnel</h4>

<p>Toutes les données à caractère personnel étant confidentielles, leur accès est limité aux services Job IT Better by Externatic et à ses sous-traitants avec lesquels Job IT Better by Externatic est liée contractuellement pour pouvoir exécuter les services ou conseils rendus aux utilisateurs dans le cadre de ses missions.</p>

<p>Ainsi, si elle estime qu’un tel transfert est nécessaire pour des raisons techniques, Job IT Better by Externatic peut également être amenée à transférer tout ou partie des données à caractère personnel à des tiers de confiance qui les traitent pour son compte, selon ses instructions, conformément à la présente Politique de protection des données et dans le respect de toute mesure appropriée de sécurité et de confidentialité.</p>

<p>Toutes les personnes ayant accès à vos données à caractère personnel sont tenues par une obligation de confidentialité et s’exposent à des sanctions si elles ne respectent pas ces obligations.</p>

<h5>Données que vous partagez</h5>

<p>En communiquant vos données directement (site jobitbetter.fr, mail de candidature, etc) ou indirectement via des sites tiers, vous consentez à partager vos données à caractère personnel (profil, CV, lettre de motivation, etc) avec les équipes Job IT Better by Externatic. </p>

<p>En aucun cas nous ne communiquerons votre candidature et donc vos données à nos clients sur une de leurs offres sans un accord préalable.</p>

<h4>5. Durée de conservation de vos données</h4>

<p>A partir du 10 juillet 2023, toutes les données collectées lors de votre inscription et/ou traitées postérieurement à cette date sont conservées pendant une durée de 2 ans après votre dernier contact avec les équipes Job IT Better by Externatic.</p>

<h4>6. Sécurité de vos données</h4>

<p>Job IT Better by Externatic s’attache à conserver les données à caractère personnel qu’elle traite de manière sécurisée et uniquement pendant la durée nécessaire à la réalisation de la finalité poursuivie par le traitement.</p>

<p>Dans cette perspective, Job IT Better by Externatic prend les mesures physiques, techniques et organisationnelles appropriées pour prévenir et empêcher, dans toute la mesure du possible, toute altération, perte de vos données ou tout accès non autorisé à celles-ci.</p>

<p>Si Job IT Better by Externatic apprenait qu’un tiers auquel elle a communiqué des données à caractère personnel aux fins énoncées ci-dessus, utilise ou divulgue des données à caractère personnel sans respecter la présente Politique ou en violation de la législation applicable, elle prendrait toute mesure pour mettre fin immédiatement à une telle utilisation.</p>

<p>Il est par ailleurs rappelé que chaque utilisateur contribue à la protection de ses données à caractère personnel en se conformant aux bonnes pratiques en matière d’utilisation des outils informatiques (par exemple ne pas retranscrire son mot de passe).</p>

<h4>7. Stockage des données</h4>

<p>Les données à caractère personnel sont stockées soit dans les bases de données de Job IT Better by Externatic, soit dans celles de prestataires de services avec lesquels Job IT Better by Externatic crée une relation contractuelle dédiée. Dans certains cas, principalement pour des raisons techniques, ces bases de données peuvent être stockées sur des serveurs situés en dehors du pays (y compris en dehors de l’Union Européenne) depuis lequel les données ont été saisies.</p>

<p>Dans ce cas, Job IT Better by Externatic s’assure au préalable par une certification que les destinataires situés en dehors de l’Union européenne respectent les exigences de la Commission européenne en matière de protection des données à caractère personnel et/ou qu’elles ont adhéré aux « Privacy Shield » ou encore que des mesures contractuelles appropriées destinées à sécuriser la transmission des données à caractère personnel ont été prises.</p>

<h4>8. Droits relatifs aux données à caractère personnel</h4>

<p>Conformément aux articles 15 et suivants du Règlement Général relatif à la Protection des Données 2016/679 (“RGPD”), vous disposez d’un droit d’accès, de rectification, de suppression et d’opposition aux traitements de données vous concernant en nous communiquant votre demande par mail à l’adresse rgpd@externatic.fr</p>

<p>Job IT Better by Externatic s’engage à traiter votre demande dans les plus brefs délais.</p>

<h4>9. Réclamations</h4>

<p>Si vous avez des raisons de penser que la sécurité de vos données à caractère personnel a été compromise ou que ces données ont fait l’objet d’une utilisation abusive, vous êtes invités à contacter le Délégué à la Protection des Données d’Externatic à l’adresse suivante rgpd@externatic.fr</p>

<p>Externatic instruira ainsi les réclamations concernant l’utilisation et la divulgation de données à caractère personnel et tentera de trouver une solution conformément à la réglementation en vigueur.</p>

<h4>10. Mise à jour de la politique</h4>

<p>La présente Politique de protection des données à caractère personnel peut être mise à jour, à tout moment, en fonction des besoins de Job IT Better by Externatic ou si la loi l’exige.</p>

<h3 class="be-h3">Conditions générales d'utilisation di site jobitbetter.fr et applications mobiles</h3>

<h4>1. Acceptation des conditions générales d’utilisation du site et application mobile</h4>

<p>L’utilisateur du site reconnaît avoir pris connaissance des présentes conditions générales d’utilisation du site et application mobile et s’engage à les respecter.</p>

<p>Lors de la fourniture de données, l’utilisateur est tenu de valider son engagement à respecter les présentes conditions générales d’utilisation du site et application mobile en cochant la case prévue à cet effet.</p>

<p>Les présentes conditions générales d’utilisation du site et application mobile peuvent évoluer et être modifiées à tout moment. Les utilisateurs sont invités à les consulter régulièrement.</p>

<h4>2. Objet du site</h4>

<p>Le site jobitbetter.fr met en ligne des services permettant notamment de :</p>

<ul>
    <li>consulter des offres d’emploi / de stage / de mission ;</li>
    <li>consulter les études relatives au marché de l’emploi réalisées par Externatic ou un tiers ;</li>
    <li>s’abonner à des lettres d’information ;</li>
    <li>postuler à des offres d’emploi disponibles sur jobitbetter.fr ;</li>
    <li>accéder au blog</li>
</ul>

<h4>3. Modification des informations</h4>

<p>Malgré les soins apportés par Job IT Better by Externatic, les informations contenues dans ce site sont données à titre indicatif et sont sujettes à changement sans préavis.</p>

<p>En conséquence, l’utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.</p>

<h4>4. Respect de la réglementation en vigueur</h4>

<p>Job IT Better by Externatic s’engage à respecter les obligations légales en matière de diffusion d’offres d’emploi, décrites ci-après.</p>

<ul>
    <li>Utiliser l’ensemble de nos services conformément à la loi et réglementation française</li>
    <li>Respecter les droits d’un candidat à l’embauche et vous engager à :</li>
    <ul>
        <li>Ne pas mentionner des critères discriminants interdits</li>
        <li>Ne diffuser que des offres qui correspondent à un poste existant et disponible</li>
        <li>Diffuser l’offre en français</li>
        <li>Ne mentionner que des critères en lien avec la tenue du poste proposé</li>
    </ul>
    <li>Avoir de ce fait pris connaissance des articles L 5331-2 et L 5331-3 du Code du travail et garantir en particulier que l’offre d’emploi dont vous demandez la mise en ligne et/ou la publication ne comporte pas "d’allégations fausses ou susceptibles d’induire en erreur, et portant en particulier sur un ou plusieurs éléments suivants : 1°) l’existence, le caractère effectivement disponible, l’origine, la nature et la description de l’emploi ou du travail à domicile offert, 2°) la rémunération et les avantages annexes proposés, 3°) le lieu du travail" (extrait de l’article L 5331-3 du Code du travail).</li>
    <li>Avoir pris connaissance des termes de l’article L 1132-1 du Code du travail, ainsi que 225-1 et 225-2 du Code pénal aux termes desquels il est interdit de subordonner une offre d’emploi, une demande de stage ou une période de formation en entreprise à une condition fondée sur une distinction entre les personnes physiques en raison de leur origine, de leur sexe, de leur situation de famille, de leur grossesse, de leur apparence physique, de leur patronyme, de leur état de santé, de leur handicap, de leurs caractéristiques génétiques, de leurs mœurs, de leur orientation sexuelle, de leur âge, de leurs opinions politiques, de leurs activités syndicales, de leur appartenance ou de leur non-appartenance, vraie ou supposée, à une ethnie, une nation, une race ou une religion déterminée, de leur lieu de résidence, de leur perte d’autonomie, de leur vulnérabilité économique.</li>
    <li>Avoir pris connaissance et vous engager à respecter la Délibération CNIL n°02-017 du 21 mars 2002 relative aux opérations de recrutement, le Communiqué CNIL du 27 mars 2013 ainsi que la Loi du 06/01/1978 (modifiée) relative à l’informatique, aux fichiers et aux libertés, notamment sur l’interdiction de se constituer des fichiers de candidatures sur la base d’une offre d’emploi fictive.</li>
</ul>

<h4>5. Responsabilités de l’utilisateur</h4>

<p>L’utilisateur s’engage à utiliser et à accéder au site jobitbetter.fr conformément aux présentes conditions générales d’utilisation et au droit français en vigueur.</p>

<p>L’utilisateur est averti que la mise en ligne d’informations personnelles sur Internet implique de sa part l’acceptation de principe d’une accessibilité des informations qu’il décide de mettre en ligne.</p>

<p>L’utilisateur est entièrement responsable de toutes informations et données qu’il fournit sur le site Job IT Better by Externatic, quelle qu’en soit la nature et l’origine, téléchargement, publication, transmission ou mise à disposition, notamment titres, diplômes, qualifications, adresses, descriptions, etc.</p>

<p>L’utilisateur ne doit pas, sous peine de sanctions pénales, communiquer des contenus illégaux, ayant notamment pour effet de :</p>

<ul>
    <li>faire l’apologie de crimes contre l’humanité ;</li>
    <li>inciter à la commission d’acte de terrorisme ou faire leur apologie ;</li>
    <li>inciter à haine raciale ;</li>
    <li>inciter à la haine à l’égard de personnes à raison de leur sexe, de leur orientation ou identité sexuelle ;</li>
    <li>inciter à la haine à l’égard de personnes à raison de leur handicap ;</li>
    <li>diffuser de la pornographie, notamment enfantine ;</li>
    <li>inciter à la violence, notamment, aux violences faites aux femmes ;</li>
    <li>porter atteinte à la dignité humaine ;</li>
    <li>proférer des injures ;</li>
    <li>alléguer ou imputer un fait qui porte atteinte à l’honneur ou à la considération d’une personne (diffamation).</li>
</ul>
<p>Par ailleurs, l’utilisateur s’engage à ne pas mettre en ligne des contenus inappropriés, notamment :</p>

<ul>
    <li>sans rapport avec l’objet des services de Job IT Better by Externatic ;</li>
    <li>comportant des opinions, politiques, religieuses ou philosophiques ;</li>
    <li>contraires aux bonnes mœurs.</li>
</ul>

<p>L’utilisateur s’interdit de :</p>

<ul>
    <li>Violer les droits de propriété intellectuelle de Job IT Better by Externatic (relatifs à des contenus protégés par le droit d’auteur, le droit des marques déposées, le droit sui generis des bases de données).</li>
    <li>Violer les droits de la personnalité des personnes avec lesquels il peut être en relation au travers de services fournis par Job IT Better by Externatic ou de toute autre personne.</li>
    <li>Fournir des contenus illicites ou inappropriés par rapport à la finalité des services ou conseils fournis par Job IT Better by Externatic</li>
    <li>Capter tout ou partie du contenu du site jobitbetter.fr et des bases de données qui lui sont liées (offres d’emploi, etc) sous peine de s’exposer à des sanctions de nature civile et/ou pénale</li>
    <li>Porter atteinte au bon fonctionnement du site internet jobitbetter.fr</li>
    <li>Postuler massivement de façon automatique à des offres publiées sur le site jobitbetter.fr</li>
    <li>Contourner les systèmes techniques de protection, réaliser ou inciter à des actes de piratage</li>
    <li>Usurper l’identité d’un tiers</li>
    <li>Détourner ou tenter de détourner l’une quelconque des fonctionnalités du site jobitbetter.fr hors de son usage normal</li>
    <li>Utiliser, pour naviguer sur le site jobitbetter.fr, un logiciel robot ou tout autre procédé ou outil automatisé équivalent.</li>
</ul>

<h4>6. Responsabilité d’Externatic</h4>

<p>L’utilisateur reconnaît utiliser le site jobitbetter.fr sous sa responsabilité exclusive, le site étant accessible en fonction de la disponibilité du réseau Internet.</p>

<p>L’utilisateur, en qualité d’utilisateur de ce site et des services proposés par Job IT Better by Externatic prend à sa charge tous les coûts liés à l’accès au site et à l’utilisation des services proposés.</p>

<p>De même, Job IT Better by Externatic ne saurait être tenue pour responsable de tout dommage direct ou indirect notamment, mais non limitativement, pertes de profits, de clientèles, de données, de logiciels et autres biens incorporels pouvant intervenir du fait de la consultation du site ou de l’impossibilité d’accès au site jobitbetter.fr</p>

<h4>7. Propriété intellectuelle</h4>

<p>L’ensemble du contenu du site jobitbetter.fr et application mobile relève de la législation française et des conventions internationales sur le droit d’auteur et la propriété intellectuelle.</p>

<p>Tous les droits d’exploitation, de traduction, d’adaptation sont réservés, y compris pour les documents téléchargeables et les exploitations iconographiques et photographiques. Il est donc interdit de reproduire, copier, vendre, ou exploiter et de diffuser, de quelque manière que ce soit tout ou partie du contenu du site ou tout droit d’accès au site jobitbetter.fr sans l’accord préalable de Job IT Better by Externatic.</p>

<p>La structure générale, les textes, images animées ou non, les sons, les savoir-faire, les programmes et logiciels ainsi que tout autre élément composant ce site sont la propriété exclusive d’Externatic et sont protégés par le droit d’auteur. L’ensemble des éléments de ce site est donc protégé par copyright EXTERNATIC ce qui a pour effet que :</p>

<ul>
    <li>Sans préjudice des dispositions de l’article L.122-5 du code de la propriété intellectuelle, toute représentation, reproduction ou diffusion, intégrale ou partielle du site, sur quelque support que ce soit, sans l’autorisation expresse et préalable d’Externatic constitue un acte de contrefaçon, sanctionné en application des articles L.335-2 et L.335-3 du même code.</li>
    <li>Sans préjudice des dispositions de l’article L.342-3 du code de la propriété intellectuelle, toute représentation, reproduction ou diffusion, intégrale ou partielle de la base de données, sur quelque support que ce soit, sans l’autorisation expresse et préalable d’Externatic est sanctionné en application des articles L.343-1 et suivants du même code.</li>
    <li>Les marques, noms commerciaux et logos figurant sur ce site sont des marques déposées utilisables sauf mention contraire par les sociétés citées en préambule. Toute reproduction totale ou partielle des marques ou logos, effectuée à partir des éléments du site, sans l’autorisation expresse d’Externatic est donc prohibée.</li>
</ul>

<h4>8. Loi applicable et attribution de juridiction</h4>

<p>Les présentes conditions générales de diffusion sont exclusivement soumises à la loi française.</p>

<p>Compte tenu du caractère mondial du réseau Internet, en accédant au site et en utilisant les services proposés par Job IT Better by Externatic, l’utilisateur accepte de se conformer aux présentes Conditions Générales de diffusion et aux lois applicables en France, lieu d’hébergement et de publication du site quel que soit le pays à partir duquel il le consulte.</p>

<p>Pour toutes contestations relatives aux prestations fournies par Job IT Better by Externatic ainsi que pour l’application ou l’interprétation des présentes Conditions Générales de diffusion, seules seront compétentes les juridictions du ressort du siège social d’Externatic.</p>
{% endblock %}
