<form method="post" action="{{ path('app_resume_delete', {'id': resume.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer ton CV intitulé {{ resume.name }}  ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resume.id) }}">
    <button class="btn">Supprimer</button>
</form>
