{% extends 'base.html.twig' %}

{% block title %}Modifier CV{% endblock %}

{% block body %}
    <h1>Modifier CV</h1>

    {{ include('resume/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_resume_index') }}">Retour à la liste</a>

    {{ include('resume/_delete_form.html.twig') }}
{% endblock %}
