{% extends 'base.html.twig' %}

{% block title %}New Resume{% endblock %}

{% block body %}
<div class="be-form row g-3 col-7">
    <div class="d-flex mx-4">
        <a class="be-secondary-button" href="{{ path('app_user_show', {'id': app.user.id} ) }}">Retour</a>
    </div>
    <h2 class="be-h2">Ajouter un <span>CV</span></h2>
    {{ include('resume/_form.html.twig') }}
</div>
{% endblock %}
