{% extends 'base.html.twig' %}

{% block title %}New Resume{% endblock %}

{% block body %}
<div class="be-form row g-3 col-7">
    <h2 class="be-h2">Ajouter un CV</h2>
    {{ include('resume/_form.html.twig') }}
</div>

    <a href="{{ path('app_resume_index') }}">back to list</a>
{% endblock %}
