{% extends 'base.html.twig' %}

{% block title %}Nouvel emploi{% endblock %}

{% block body %}
    <h1>Créer nouvel emploi</h1>

    {{ include('job/_form.html.twig') }}

    <a href="{{ path('app_job_index') }}">Retour à la liste</a>
{% endblock %}
