.be-card-alerte {
    box-shadow: $box-shadow;
    margin-bottom: 60px;
}

.be-alert {
    background-color: #F2D7BA;
}

.be-card-candidatures {
    box-shadow: $box-shadow;
}

.be-candidature {
    background-color: #D2CBE3;
}
