.be-card-alerte{
    box-shadow: 0px 6.25px 14px #c9cbcf, 0px 0px 2px #c9cbcf;
    margin-bottom: 60px;
}

.be-alert{
    background-color: #F2D7BA;
}

.be-card-candidatures{
    box-shadow: 0px 6.25px 14px #c9cbcf, 0px 0px 2px #c9cbcf;
}

.be-candidature{
    background-color: #D2CBE3;
}

.be-container-sidebar{
    width: 30%
}
