.main-home-page {
    width: 75%;
    margin: auto;
}
.be-blabla {
    width: 100%;
    height: 54vh;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 130px;
}

.be-img-home {
    width: 100%;
    height: 800px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: $box-shadow;
    border-radius: 12px;
}

.be-bg-body-tertiary {
    width: 60%;
    position: absolute;
    bottom: -44px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: $box-shadow;
}

.be-titre {
    color: white;
    font-size: 3.4rem;
    font-weight: bolder;
    position: absolute;
    z-index: 3;
    left: 2.5%;
    top: 16px;
    width: 50%;
}

@media screen and (max-width: 1364px) {
    .be-titre {
        font-size: 3.1rem;
    }
}

@media screen and (max-width: 770px) {
    .be-titre {
        font-size: 1.2rem;
        width: 60%;
    }

    .be-blabla {
        height: 30vh;
    }

    .be-img-home {
        margin-top: 15px;
    }

    .be-bg-body-tertiary {
        transform: scale(0.8);
        bottom: -92px;
        width: 90%;
    }

    .main-home-page {
        width: 100%;
    }

    .be-search-home {
        position: absolute;
        bottom: 30%;
        max-width: 70px;
        right: 10px;
    }
}
