.hidden {
    display: none;
}

.be-password {
    position: relative;
}

.be-password-register button {
    position: absolute;
    right: 0;
    top: calc(50% - 0.5rem);
}

.be-password-login button {
    position: absolute;
    right: 1.5rem;
    top: calc(50% - 0.5rem);
}

.be-form {
    margin: 5rem auto;
    background-color: $light-grey;
    border-radius: $border-radius;
    border: solid 1px #DEE1E6FF;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
}

.be-form h2 {
    text-align: center;
    font-size: 2rem;
}

.be-form label {
    font-weight: bold;
    color: #424856FF;
    padding-left: 0.5rem;
}

.be-form-input {
    background: #FFFFFFFF;
    border-radius: 3px; /* border-xs */
    border-width: 1px;
    border-color: #9095A1FF;
    border-style: solid;
    box-shadow: $box-shadow;
    resize: none;
}

.be-form .be-check-label {
    font-weight: normal;
}

.be-form-switch {
    padding-left: 3rem;
}

.be-form-check {
    border-color: #9095A1FF;
    border-style: solid;
}

.be-search-bar-input-container {
    width: 60%;
    height: 100%;
}

.be-search-bar-input {
    height: 60%;
    margin: 0 !important;
    border: 0;
    border-right: solid 1px rgb(185, 185, 185);
}

.be-search-bar-input-2-container {
    width: 30%;
    height: 100%;
}

.be-search-bar-input-2 {
    height: 60%;
    border: 0;
    margin: 0 !important;
}

.be-form-search {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and ( max-width: 768px ){
    .be-form {
        width: 100%;
    }

    .be-form-switch {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .be-form-search {
        flex-direction: column;
        align-items: initial;
        position: relative;
    }

    .be-search-bar-input {
        width: 100%;
        align-items: initial;
        border: 0;
    }

    .be-search-bar-input-2 {
        width: 100%;
    }

    .be-search-bar-input-2-container {
        width: 90%;
    }
}

