.be-form {
    width: 38rem;
    height: 30rem;
    margin: 5rem auto;
    background-color: $light-grey;
    border-radius: $border-radius;
    border: solid 1px #DEE1E6FF;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
}

.be-form h2 {
    text-align: center;
}

.be-form label {
    font-weight: bold;
    color: #424856FF;
}

.be-form-input {
    background: #FFFFFFFF;
    border-radius: 3px; /* border-xs */
    border-width: 1px;
    border-color: #9095A1FF;
    border-style: solid;
    box-shadow: $box-shadow;
}

.be-form .be-check-label {
    font-weight: normal;
}

