.be-search-bar-input {

    height: 100%;
    width: 456px;
    margin: 0 !important;
    border-radius: 0;
    border: 0;
    border-right: solid 1px rgb(185, 185, 185);
}

.be-search-bar-input-2 {
    height: 100%;
    width: 367px;
    border: 0;
    margin: 0 !important;
   
}

.be-search-button {
    position: absolute;
    right: 39px;
    top: 31px;
    bottom: 23px;
}

.be-form{
    height: 100%;
}