@import 'variables.scss';

.be-row {
    --bs-gutter-x: 0;
}

.be-home-article {
    margin-bottom: 2rem;
}

.be-home-article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.be-home-article-rectangle1 {
    background: #A4C1BDB8;
    border-radius: $border-radius;
}

.be-home-article-rectangle2 {
    background: #DFA893B8;
    margin-left: 151px;
    border-radius: $border-radius;
}

.be-home-article-rectangle3 {
    background: #B19BDCB8;
    border-radius: $border-radius;
}

.be-home-article-rectangle1,
.be-home-article-rectangle3 {
    margin-right: 8rem;
}

.be-home-article-img
{
    margin: 15px;
    width: 300px;
    height: 200px;
}

@media screen and (max-width: 430px) {
    .be-home-articles {
        margin: 10px;
    }

    .be-home-article-2 {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 0;
        margin-left: 0;
    }
    .be-home-article-rectangle2 {

        padding-left: 0;
        margin-left: 0;
    }

    .be-home-article-img2 {
        margin-left: 0;
    }
}

