.be-joboffer-card-template-container{
width: 80%;
}
.be-joboffer-card-template-ul {
    list-style-type: none;
    width: 80%
}

.be-joboffer-card-template {
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}


@media screen and (max-width: 770px) {
    .be-joboffer-card-template-container {
        width: 100%;
        margin-top: 20%;
    }
    .be-joboffer-card-template-ul {
        width: 95%;
    }
}

@media screen and (max-width: 550px) {
    .be-joboffer-card-template-container {
        margin-top: 50%;
    }
}
@media screen and (max-width: 425px) {

    .be-joboffer-card-template-container {
        margin-top: 60%;
    }
}


