.be-joboffer-card-template-container{
width: 80%;
}
.be-joboffer-card-template-ul {
    list-style-type: none;
    width: 80%
}

.be-joboffer-card-template {
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}
