.be-h2 {
    font-size: 3rem;
    font-weight:600;
    margin: 20px auto;
    margin-left: 0;
}

.be-h2 span {
    color: $light-green;
}

.be-h3 {
    font-size: 2rem;
    font-weight:600;
}

.be-h3 span {
    color: $light-green;
}

@media screen and (max-width: 768px){
    .be-h2 {
        font-size: 2rem;
        margin: 10px;
    }

    .be-h3 {
        font-size: 1.5rem;
    }
}
