@font-face {
    font-family: 'jost';
    src: url('../../fonts/Jost/static/Jost-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jost';
    src: url('../../fonts/Jost/static/Jost-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

$dark-green: #05380A;
$light-green: #0A7014;
$super-dark-green: #171A1F;
$light-grey: #F8F9FA;
$grey-green: #B4C9C685;
$salmon: #DFB7A8;
$violet: #D2CBE3;
$light-belge: #F2D7BA;
$dark-belge: #DCC59B;
$border-radius: 8px;
$box-shadow: 0px 6.25px 14px #c9cbcf, 0px 0px 2px #c9cbcf;
$font-family: jost, sans-serif;
$window-height: 100vh;


