{% extends 'base.html.twig' %}

{% block title %}Nouvelle recherche{% endblock %}

{% block body %}
    <h1>Créer nouvelle recherche</h1>

    {{ include('search/_form.html.twig') }}

    <a href="{{ path('app_search_index') }}">Retour à la liste</a>
{% endblock %}
