$primary: #05380A;

//start coding by removing this file and adding yours ;)
@import "~bootstrap";
@import "_includes/variables.scss";
@import "_includes/title.scss";
@import "_includes/button.scss";
@import "_includes/form.scss";
@import "_includes/cardHome.scss";
@import "_includes/cardsHome.scss";
@import "_includes/HomeArticlesCards.scss";
@import "_includes/navbar.scss";
@import "_includes/partner-companies-home.scss";
@import "_includes/cardsSearchPage.scss";
@import "_includes/jobofferCardTemplate.scss";
@import "_includes/candidat.scss";

* {
    color: $super-dark-green;
    font-family: $font-family;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: $light-green;
}
