//start coding by removing this file and adding yours ;)
@import "~bootstrap";
@import "wcs";
@import "_includes/variables.scss";
@import "_includes/button.scss";
@import "_includes/form.scss";
@import "_includes/cardsHome.scss";

* {
    color: black;
    font-family: $font-family;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
