<div class="be-blabla">
  <div class="w-100 position-relative">
    <img class="be-img-home" src="{{ asset('build/images/StatsWork2.png') }}" alt="">
    <h2 class="be-titre h2 display-3 w-50">Externatic, plus qu'un cabinet de recrutement.
      Notre job, vous aider à trouver le vôtre.</h2>
  </div>
  <div class="navbar be-bg-body-tertiary">
      {{ render(controller(
          'App\\Controller\\SearchBarController::search',
      )) }}
  </div>
</div>
