<div class="be-blabla">
  <div>
    <img class="be-img-home" src="{{ asset('build/images/StatsWork2.png') }}" alt="">
    <h2 class="be-titre">Externatic, <br>plus qu'un cabinet de <br>recrutement. <br>
      Notre job, vous <br>aider à trouver le <br>vôtre.</h2>
  </div>
  <div class="navbar be-bg-body-tertiary">

    <form class="d-flex be-form" role="search">
      <input class="form-control me-2 be-search-bar-input" type="search" placeholder="QUOI ?" aria-label="Search">
      <input class="form-control me-2 be-search-bar-input-2" type="search" placeholder="OÙ ?" aria-label="Search">
      <button class="be-search-button" type="submit">Search</button>
    </form>

  </div>
</div>