{{ form_start(form, {'attr': {'class': 'd-flex be-form-search', 'role': 'search'},
    'method' : 'POST',
    'action' : path('app_joboffer_search')
})
}}
<label for="what"><b>Quoi ?</b></label>
{{ form_widget(form.title, {'attr': {'class': 'form-control me-2 be-search-bar-input', 'placeholder':
    'Quel métier cherches-tu ?', 'aria-label': 'Search', 'name': 'what',
}}) }}

<label for="where"><b>Où ?</b></label>
{{ form_widget(form.city, {'attr': {'class': 'form-control me-2 be-search-bar-input-2', 'placeholder':
    'Dans quelle ville ?', 'aria-label': 'Search', 'name': 'where',
}}) }}

<button class="be-search-button be-search-home" type="submit">Search</button>
{{ form_end(form) }}
