{% extends 'base.html.twig' %}

{% block title %}Nouveau contrat{% endblock %}

{% block body %}
    <h1>Créer nouveau contrat</h1>

    {{ include('contract/_form.html.twig') }}

    <a href="{{ path('app_contract_index') }}">Retour à la liste</a>
{% endblock %}
