{% extends 'base.html.twig' %}

{% block title %}Recherche d'emploi{% endblock %}
{% block body %}
<div class="position-absolute w-100 d-flex align-items-center justify-content-center
be-search-div-top">
    <div class="w-100 mx-auto">
        <div class="navbar be-bg-body-tertiary px-3 mx-auto form-js">
            {{ render(controller(
                'App\\Controller\\SearchBarController::search',
            )) }}
        </div>
    </div>
</div>
<div class="be-container-search d-flex justify-content-center">

    {{ include ('_includes/joboffer-card-template.html.twig') }}

    <div class="be-container-sidebar sidebar d-none d-lg-block">
        <div class="p4 p5">
            {{ include ('_includes/cards-search-page.html.twig') }}
        </div>
    </div>
</div>

{% endblock %}
